<footer class="page-footer blue darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Equipo 5 - Grupo65</h5>
          <p class="grey-text text-lighten-4">MisionTIC 2022</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Miembros</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Carlos Felipe Pérez</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Brian Sosa</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Jorge Mario</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Mauricio Lazaro</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>